.main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

body {
    background-color: #333333;
}

p {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #dc3545;
}